.navigation {
    margin: auto;
    max-width:1000px;
}

.navigation__link {
    text-decoration: none;
    color: black;
}

.navigation__header {
    color: rgb(248, 247, 247);
    background-color: #aaa;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 10px;
    padding: 5px;
    max-width: 80%;
    text-shadow: 1px 1px 1px rgb(44, 44, 44);
}

.navigation__list {
    padding: 0;
}

.list__item {
    list-style: none;
    padding: 5px;
    box-shadow: 1px 1px 3px #888;
    max-width: 125px;
    margin: 10px auto;
    border-radius: 50%;
}

.list__item:hover {
    background-color: #eee;
}

.list__item:active {
    background-color: red;
}