.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ccc;
    margin: 20px 40px;
    padding: 20px;
    border-radius: 20%;
    box-shadow: 3px 3px 6px #888;
}

.section--noShadow {
    box-shadow: none;
    margin: 0;
    padding: 10px;
}

.section__header {
    width: 100%;
    color: rgb(248, 247, 247);
    background-color: #aaa;
    border-radius: 50%;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 5px;
    text-shadow: 1px 1px 1px rgb(44, 44, 44);
    
}