html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color:  #888;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 10px 0;
}

.body--bright {
    background-color: #eee ;
}



.container {
    
    margin: auto;
    max-width:1000px;
    
}

.header__h1 {
    font-size: 35px;
    text-align: center;
    margin: 0 auto 10px;
    background-color: #aaa;
    border-radius: 50%;
    text-shadow: 1px 1px 1px black;
    color: black;
}

.table {
    border-collapse: collapse;
    margin: 15px auto;
    max-width: 90%;

}

.tableCell {
    border: 1px solid black;
    padding: 5px;
}

.tableHeader {
    background-color: #bbb;
}

.tableRow:nth-child(even) {
    background-color: #ccc;

}

.tableRow:hover {
    background-color: #eee;

}

.table-mobile {
    overflow-x: auto;
}