html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    margin: auto;
    max-width:1000px;
    text-align: center;
}

.body {
    background-color: #ccc;
}

.body--dark {
    background-color: #888;
}

.toggle__mode {
    
}

.section {
    background-color: #ddd;
    margin: 20px 40px;
    padding: 20px;
    border-radius: 20%;
    box-shadow: 3px 3px 6px #888;
}

.section-no-shadow {
    box-shadow: none;
}

.myPhoto {
    width: 200px;
    box-shadow: 3px 3px 6px #888;
    border-radius: 50%;
}

.h1 {
    font-size: 35px;
    text-align: center;
}

.h2 {
    color: black;
    background-color: #aaa;
    border-radius: 50%;
    text-align: center;
}

.nav {
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: teal;
}

.nav-link:active {
    color: red;
}

.list {
    padding: 0;
}

.list__item {
    list-style: none;
    padding: 5px;
    box-shadow: 1px 1px 3px #888;
    max-width: 110px;
    margin: 5px auto;


}